.container {
  position: absolute;
  top: -20vh;
  width: 80%;
  margin-left: 10%;
  padding: var(--sp-l);
  border-radius: var(--sp);
  background: var(--bg);
  z-index: 99;
  box-shadow: var(--shadow);
  display: flex;
  align-items: center;
  justify-content: center;
  animation: in 5s ease-in-out;
}

@keyframes in {
  0% {
    top: -20vh;
  }
  5% {
    top: 10vh;
  }
  95% {
    top: 10vh;
  }
  100% {
    top: -20vh;
  }
}

.container span {
  text-align: center;
  font-weight: normal;
  font-size: 1.125em;
}
